<section class="computing">
    <div class="computing-text">  
        
        <div class="format">
    <form action="" method="post">
            <center><h1>Log In</h1></center> <br>
    <h4>   <label for="email">Email:<br></label> <input type="text" name="email" required> </h4>
    <h4>  <label for="password">Password:<br></label> <input type="text" name="password" required></h4>
      <center><h4><input type="submit" value="log in"></h4></center>  

        </div >  </div> </div>
    </form>
  </body>
  </html>
  